<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/60ad227c-01b2-4da3-ac97-43e704fdba0c/resourcegroups/PacktContainerResourceGroup/providers/Microsoft.ContainerRegistry/registries/PacktACIApp20190917053041</ResourceId>
    <ResourceName>PacktACIApp20190917053041</ResourceName>
    <ResourceGroup>PacktContainerResourceGroup</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://packtaciapp20190917053041.azurecr.io</RegistryUrl>
    <UserName>PacktACIApp20190917053041</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7dff1c26-1ee6-47b6-96e4-c0edca7ad80b</ProjectGuid>
  </PropertyGroup>
</Project>