<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="accountName" value="<replace-this-with-the-storage-account-name>"/>
    <add key="accountKey" value=""<replace-this-with-the-key>"/>
    <add key="clientId" value=""<replace-this-with-the-application-id"/>
    <add key="clientSecret" value=""<replace-this-with-the-application-secret"/>
    <add key="container" value="packtcontainer"/>
  </appSettings>
</configuration>